<div class="bg-grey-200 px-32 py-4 text-center">
  <div>{{text}}</div>
  <ul class="mt-8 flex flex-col items-center justify-center gap-8 md:flex-row">
    {{#if github}}
    <li><a href="{{github}}" class="underline">Download (GitHub)</a></li>
    {{/if}}{{#if wiki}}
    <li><a href="{{wiki}}" class="underline">Wiki</a></li>
    {{/if}}
    <li>
      <a
        href="https://www.paypal.com/donate/?hosted_button_id=9FARNUYBC9R3J"
        rel="nofollow"
      >
        <img
          src="https://pics.paypal.com/00/s/NjA2OWU0ZmEtNjQ4MC00MWZhLTk5YzctM2VhZDA1MzgyMDQ0/file.PNG"
          width="140"
          alt="Donation Link"
          data-canonical-src="https://pics.paypal.com/00/s/NjA2OWU0ZmEtNjQ4MC00MWZhLTk5YzctM2VhZDA1MzgyMDQ0/file.PNG"
          style="max-width: 100%"
        />
      </a>
    </li>
  </ul>
</div>
